openapi: 3.0.0
info:
  title: Lightmetrics API Documentation
  version: v1.0.0
  description: >
    Documentation of various Lightmetrics web services<br>
    <a href="https://lightmetrics.freshdesk.com" target="_blank">Lightmetrics Support</a>
  contact:
    name: Lightmetrics Support
x-tagGroups:
  - name: '  '
    tags:
      - Rate Limiting
  - name: Data
    tags:
      - Fleet
      - Driver
      - Trip
      - DVR
      - Live Telematics
      - Livestreaming
  - name: Device Management
    tags:
      - Provisioning
      - Software Updates
      - Device State & Tracking
  - name: Settings
    tags:
      - Assets
      - SDK Configuration
      - User Preferences
      - User Permissions
  - name: Webhooks
    tags:
      - Webhook Registration
      - Webhook Calls
  - name: Face Recognition
    tags:
      - Face Recognition

servers:
  - url: 'https://api.lightmetrics.co/v1'
    description: Production server
  - url: 'https://api-beta.lightmetrics.co/v1'
    description: Beta server

components:
  securitySchemes:
    Basic_Authorization:
      type: http
      scheme: basic
  parameters:
    fleetId:
      name: fleetId
      in: path
      schema:
        $ref: '#/components/schemas/FleetId'
      required: true
    driverId:
      name: driverId
      in: path
      schema:
        $ref: '#/components/schemas/DriverId'
      required: true
    tripId:
      name: tripId
      in: path
      schema:
        $ref: '#/components/schemas/TripId'
      required: true
    assetId:
      name: assetId
      in: path
      schema:
        $ref: '#/components/schemas/AssetId'
      required: true
    skip:
      name: skip
      in: query
      description: >
        Skips the input number of results<br> If the input skip is not a number
        or is less than 0, the default value will be used<br> Non-integer
        numbers will be rounded off to their floor value (1.9 -> 1)
      schema:
        type: integer
        default: 0
    limit:
      name: limit
      in: query
      description: >
        Maximum number of results returned<br> If the input limit is not a
        number or is less than 1, the default value will be used. If the input
        limit is greater than the maximum allowed limit, the maximum value will
        used for the request<br> Non-integer numbers will be rounded off to
        their floor value (1.9 -> 1)
      schema:
        type: integer
        default: 50
        maximum: 500
        minimum: 1
    bookmark:
      name: bookmark
      in: query
      description: >
        A string that enables you to specify which page of results you require. Used for paging through result sets.<br>
        Every request returns an opaque string under the bookmark key that can then be passed back in the next call to
        get the next page of results.<br>
        If any other query parameters change between requests, the results are undefined.<br>
        NOTE: `skip` and `bookmark` cannot be used together
      schema:
        type: string
        default: null
    before:
      name: before
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include data for trips that started
        before the specified date (<strong>exclusive</strong>)<br> before =
        "2018-08-01" will return data for trips which started on or before
        "2018-07-31 23:59:59" in local time<br> The hours, minutes and seconds
        values in the input date will be ignored ("2018-08-01 13:04:12" will be
        read as "2018-08-01")
    after:
      name: after
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include data for trips that started
        after the specified date (<strong>inclusive</strong>)<br> after =
        "2018-08-01" will return data for trips which started on or after
        "2018-08-01 00:00:00" in local time<br> The hours, minutes and seconds
        values in the input date will be ignored ("2018-08-01 13:04:12" will be
        read as "2018-08-01")
    afterEDVRUpdatedAt:
      name: after
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include data for EDVR requests which were <em>last updated</em>
        after the specified date (<strong>inclusive</strong>)<br> after =
        "2018-08-01" will return data for EDVR requests which were last updated on or after
        "2018-08-01 00:00:00" in local time<br> The hours, minutes and seconds
        values in the input date will be ignored ("2018-08-01 13:04:12" will be
        read as "2018-08-01")
    beforeEDVRUpdatedAt:
      name: before
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include data for EDVR requests which were <em>last updated</em>
        before the specified date (<strong>exclusive</strong>)<br> before =
        "2018-08-01" will return data for EDVR requests which were last updated on or before
        "2018-07-31 23:59:59" in local time<br> The hours, minutes and seconds
        values in the input date will be ignored ("2018-08-01 13:04:12" will be
        read as "2018-08-01")
    afterDVRUpdatedAt:
      name: after
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include data for DVR requests which were <em>last updated</em>
        after the specified date (<strong>inclusive</strong>)<br> after =
        "2018-08-01" will return data for DVR requests which were last updated on or after
        "2018-08-01 00:00:00" in local time<br> The hours, minutes and seconds
        values in the input date will be ignored ("2018-08-01 13:04:12" will be
        read as "2018-08-01")
    beforeDVRUpdatedAt:
      name: before
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include data for DVR requests which were <em>last updated</em>
        before the specified date (<strong>exclusive</strong>)<br> before =
        "2018-08-01" will return data for DVR requests which were last updated on or before
        "2018-07-31 23:59:59" in local time<br> The hours, minutes and seconds
        values in the input date will be ignored ("2018-08-01 13:04:12" will be
        read as "2018-08-01")
    beforeViolations:
      name: before
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include data for violations which occurred
        before the specified date (<strong>exclusive</strong>). before =
        "2018-08-01" will return data for violations which occurred on or before
        "2018-07-31 23:59:59" in local time.<br> The hours, minutes and seconds
        values in the input date will be ignored ("2018-08-01 13:04:12" will be
        read as "2018-08-01")
    afterViolations:
      name: after
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include data for violations which occurred
        after the specified date (<strong>inclusive</strong>).<br> after =
        "2018-08-01" will return data for violations which occurred on or after
        "2018-08-01 00:00:00" in local time.<br> The hours, minutes and seconds
        values in the input date will be ignored ("2018-08-01 13:04:12" will be
        read as "2018-08-01")
    challengeRaisedBeforeViolations:
      name: challengeRaisedBefore
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include data for violations which were challenged
        before the specified date (<strong>exclusive</strong>).<br> before =
        "2018-08-01" will return data for violations which are challenged on or before
        "2018-07-31 23:59:59" in local time.<br> The hours, minutes and seconds
        values in the input date will be ignored ("2018-08-01 13:04:12" will be
        read as "2018-08-01")
    challengeRaisedAfterViolations:
      name: challengeRaisedAfter
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include data for violations which were challenged
        after the specified date (<strong>inclusive</strong>).<br> after =
        "2018-08-01" will return data for violations which are challenged on or after
        "2018-08-01 00:00:00" in local time.<br> The hours, minutes and seconds
        values in the input date will be ignored ("2018-08-01 13:04:12" will be
        read as "2018-08-01")
    challengeResolvedBeforeViolations:
      name: challengeResolvedBefore
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include data for violations on which challenge was resolved
        before the specified date (<strong>exclusive</strong>).<br> before =
        "2018-08-01" will return data for violations for which challenge has been resolved on or before
        "2018-07-31 23:59:59" in local time.<br> The hours, minutes and seconds
        values in the input date will be ignored ("2018-08-01 13:04:12" will be
        read as "2018-08-01")
    challengeResolvedAfterViolations:
      name: challengeResolvedAfter
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include data for violations on which challenge was resolved
        after the specified date (<strong>inclusive</strong>).<br> after =
        "2018-08-01" will return data for violations for which challenge has been resolved on or after
        "2018-08-01 00:00:00" in local time.<br> The hours, minutes and seconds
        values in the input date will be ignored ("2018-08-01 13:04:12" will be
        read as "2018-08-01")
    groupBy:
      name: groupBy
      in: query
      schema:
        type: string
        enum:
          - month
          - week
          - day
      description: >-
        Aggregates the data, grouping by month/week/day. If not specified, a
        single aggregate of all matching trips is returned
    groupByViolations:
      name: groupBy
      in: query
      schema:
        type: string
        enum:
          - month
          - week
          - day
      description: >-
        Aggregates the data, grouping by month/week/day. If not specified, a
        single aggregate of all matching violations is returned
    sort:
      name: sort
      in: query
      schema:
        type: string
        enum:
          - asc
          - desc
        default: asc
      description: Sorts the output in ascending/descending order of the 'key' fields
    dutyType:
      name: dutyType
      in: query
      description: >
        Returns trip data filtered by the specified duty type<br> Duty types are
        mutually excusive categories that describe the fleet's assets (example:
        'light', 'medium', and 'heavy'). Different sensitivities towards
        violations can be set for different duty types in the same fleet
      schema:
        $ref: '#/components/schemas/DutyType'
    division:
      name: division
      in: query
      schema:
        $ref: '#/components/schemas/Division'
    rangeType:
      name: rangeType
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/RangeType'
    beforeDVR:
      name: before
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include data for DVR requests which were created
        before the specified date (<strong>exclusive</strong>)<br> before =
        "2018-08-01" will return data for DVR requests which were created on or before
        "2018-07-31 23:59:59" in local time<br> The hours, minutes and seconds
        values in the input date will be ignored ("2018-08-01 13:04:12" will be
        read as "2018-08-01")
    afterDVR:
      name: after
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include data for DVR requests which were created
        after the specified date (<strong>inclusive</strong>)<br> after =
        "2018-08-01" will return data for DVR requests which were created on or after
        "2018-08-01 00:00:00" in local time<br> The hours, minutes and seconds
        values in the input date will be ignored ("2018-08-01 13:04:12" will be
        read as "2018-08-01")
    customTripParams:
      name: includeCustomTripKeys
      in: query
      schema:
        type: boolean
        deprecated: true
        default: false
        description: 'If set to <strong>true</strong>, result includes customTripParams'
    assetsAfter:
      name: after
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include assets which were active after
        the specified date (<strong>UTC, inclusive</strong>).<br> The hours,
        minutes and seconds values in the input date will be ignored
        ("2018-08-01 13:04:12" will be read as "2018-08-01").<br>
        <strong>Note&colon;</strong> this input will be ignored when <em>activeOnly</em>
        or <em>currentOnly</em> is true.
    assetsBefore:
      name: before
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include assets which were active
        before the specified date (<strong>UTC, exclusive</strong>).<br> The
        hours, minutes and seconds values in the input date will be ignored
        ("2018-08-01 13:04:12" will be read as "2018-08-01").<br>
        <strong>Note&colon;</strong> this input will be ignored when <em>activeOnly</em>
        or <em>currentOnly</em> is true.
    fleetActiveOnly:
      name: activeOnly
      description: >-
        If <strong>true</strong>, the result will only include assets which are
        currently active.<br>
        <strong>Note&colon;</strong> <em>before</em>, <em>after</em>, <em>anyTags</em> and <em>allTags</em> inputs will be ignored when this parameter is true.
      in: query
      schema:
        type: boolean
        default: false
    fleetCurrentOnly:
      name: currentOnly
      description: >-
        If <strong>true</strong>, the result will include only the current state of assets.<br>
        Use this for fetching a list of all unique asset IDs.<br>
        <strong>Note&colon;</strong> <em>before</em>, <em>after</em>, <em>anyTags</em> and <em>allTags</em> inputs will be ignored when this parameter is true.
      in: query
      schema:
        type: boolean
        default: false
    activeOnly:
      name: activeOnly
      description: >-
        If <strong>true</strong>, the result will only include assets which are
        currently active.<br>
        <strong>Note&colon;</strong> <em>before</em> and <em>after</em> inputs will be ignored when this parameter is true.
      in: query
      schema:
        type: boolean
        default: false
    currentOnly:
      name: currentOnly
      description: >-
        If <strong>true</strong>, the result will include only the current state of assets.<br>
        Use this for fetching a list of all unique asset IDs.<br>
        <strong>Note&colon;</strong> <em>before</em> and <em>after</em> inputs will be ignored when this parameter is true.
      in: query
      schema:
        type: boolean
        default: false
    eventIndex:
      name: eventIndex
      in: query
      schema:
        $ref: '#/components/schemas/EventIndex'
      required: true
    currentSwversion:
      name: currentSwversion
      in: path
      schema:
        $ref: '#/components/schemas/CurrentSwVersion'
      required: true
    maxBuildNumber:
      name: maxBuildNumber
      in: query
      description: >
        If specified, the result will only include a list of smartCam versions
        whose build numbers are less than the specified maximum buildNumber.
      schema:
        type: number
        example: 12345
    minBuildNumber:
      name: minBuildNumber
      in: query
      description: >
        If specifed, the result will only include a list of smartCam versions
        whose build numbers are greater than the specified minimum build
        Number.<br><br> <strong>Note:</strong> If both minBuildNumber and
        maxBuildNumber are specified, the result will include a list of smartcam
        Versions whose buildNumbers fall in the range of minBuildNumber and
        maxBuildNumber
      schema:
        type: number
        example: 12345
    buildNumber:
      name: buildNumber
      in: query
      description: >
        If specified, the result will include only the smartCam version of the
        specified build Number.<br> When buildNumber is specified,
        maxBuildNumber and minBuildNumber should not be specified.
      schema:
        type: number
        example: 12345
    preRelease:
      name: includePrerelease
      in: query
      description: >
        If <strong>true</strong>, returns the list of available latest
        prerelease and release versions.
      schema:
        type: boolean
    frGroupIdPathParam:
      name: groupId
      in: path
      schema:
        $ref: '#/components/schemas/FRGroupId'
      required: true
    frPersonIdPathParam:
      name: personId
      in: path
      schema:
        $ref: '#/components/schemas/FRPersonId'
      required: true
    frSampleIdPathParam:
      name: sampleId
      in: path
      schema:
        $ref: '#/components/schemas/FRSampleId'
      required: true
    assetSort:
      name: sort
      in: query
      schema:
        type: string
        enum:
          - asc
          - desc
      description: >
        Optional&colon; sorts the output in ascending/descending order of the <em>sortBy</em> field.<br>
        This query parameter is only accepted when when one of <em>activeOnly</em> or <em>currentOnly</em> is true.<br>
        The value is set to 'asc' when <em>sort</em> is not specfied and <em>sortBy</em> is.
    assetSortBy:
      name: sortBy
      in: query
      schema:
        type: string
        enum:
          - start
          - dutyType
          - assetId
        default: start
        description: >
          Optional&colon; the field with which to sort the results by.<br>
          This query parameter is only accepted when when one of <em>activeOnly</em> or <em>currentOnly</em> is true.<br>
          The value is set to 'start' when <em>sortBy</em> is not specfied and <em>sort</em> is.
    ignitionId:
      name: ignitionId
      in: path
      schema:
        $ref: '#/components/schemas/IgnitionId'
      required: true
    bookmarkedOnly:
      name: bookmarkedOnly
      in: query
      schema:
        type: boolean
        nullable: true
      description: >
        If set to <strong>true</strong>, result will only include the violations that were bookmaked.<br>
        If set to <strong>false</strong>, result will only include the violations that were <em>not</em> bookmaked.<br>
        Violations will be ordered by <em>timestamp</em> in the specified <strong>sort</strong> order irrespective of
        input <strong>sortBy</strong> parameter.
    coachingCompleted:
      name: coachingCompleted
      in: query
      schema:
        type: boolean
        nullable: true
      description: >
        If set to <strong>true</strong>, result will only include the events that are coachingCompleted.<br>
        If set to <strong>false</strong>, result will only include the events that are <em>not</em> coachingCompleted.<br>
        Events will be ordered by <em>timestamp</em> in the specified <strong>sort</strong> order.
    tagSearch:
      name: tagSearch
      in: query
      schema:
        type: string
        nullable: true
        enum: ['CELLPHONE', 'SMOKING', 'EATING_OR_DRINKING', 'COLLISION', 'NO_SEATBELT', 'OTHER']
      description: >
        If set to any one of the valid tags, result will only include violations having the specified tag.
        Results will be ordered by <em>timestamp</em> in the specified <strong>sort</strong> order irrespective
        of input <strong>sortBy</strong> parameter.
    bookmarkedOnlyDVR:
      name: bookmarkedOnly
      in: query
      schema:
        type: boolean
        nullable: true
      description: >
        If set to <strong>true</strong>, result will only include the DVR requests that were bookmaked.<br>
        If set to <strong>false</strong>, result will only include the DVR requests that were <em>not</em> bookmaked.<br>
    tagSearchDVR:
      name: tagSearch
      in: query
      schema:
        type: string
        nullable: true
        enum: ['CELLPHONE', 'SMOKING', 'EATING_OR_DRINKING', 'COLLISION', 'NO_SEATBELT', 'OTHER']
      description: >
        If set to any one of the valid tags, result will only include DVR requests having the specified tag.
    coachingCompletedDVR:
      name: coachingCompleted
      in: query
      schema:
        type: boolean
        nullable: true
      description: >
        If set to <strong>true</strong>, result will only include the DVR Requests that are coachingCompleted.<br>
        If set to <strong>false</strong>, result will only include the DVR Requests that are <em>not</em> coachingCompleted.<br>
        DVR Requests will be ordered by <em>timestamp</em> in the specified <strong>sort</strong> order.
    mnc:
      name: mnc
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/MNC'
    mcc:
      name: mcc
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/MCC'
    UPIncludeDefaults:
      in: query
      name: includeDefaults
      schema:
        type: boolean
        default: false
        description: If <strong>true</strong>, response includes inherited preferences
    deviceId:
      name: deviceId
      in: path
      schema:
        $ref: '#/components/schemas/DeviceId'
      required: true
    softwareId:
      name: softwareId
      in: path
      schema:
        $ref: '#/components/schemas/SoftwareId'
      required: true
    uploadRequestId:
      name: uploadRequestId
      required: true
      in: path
      schema:
        type: string
        description: >
          Unique upload request ID.
        example: 0zYOBcqeLB4HpvUk2BGclaTtKmcp4abAazenWiB
    notificationId:
      name: notificationId
      required: true
      in: path
      schema:
        $ref: '#/components/schemas/ClearDriverStateNotificationId'
    semver:
      name: semver
      in: query
      schema:
        $ref: '#/components/schemas/Semver'
      required: true
    deviceEventsBefore:
      name: before
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include data for events generated
        before the specified date (<strong>exclusive</strong>)<br> before =
        "2018-08-01" will return data for events generated on or before
        "2018-07-31 23:59:59" in local time<br> The hours, minutes and seconds
        values in the input date will be ignored ("2018-08-01 13:04:12" will be
        read as "2018-08-01")
    deviceEventsAfter:
      name: after
      in: query
      schema:
        $ref: '#/components/schemas/FullDate'
      description: >
        If specified, the result will only include data for events generated
        after the specified date (<strong>inclusive</strong>)<br> after =
        "2018-08-01" will return data for events generated on or after
        "2018-08-01 00:00:00" in local time<br> The hours, minutes and seconds
        values in the input date will be ignored ("2018-08-01 13:04:12" will be
        read as "2018-08-01").<br>
        <strong>Note:</strong> If not specfied the result will include events generated in the past 30 days
    reportIndex:
      name: reportIndex
      in: query
      required: true
      schema:
        type: integer
        description: >
          Device Signal/Report identifier.
        example: 1
    deviceIdQueryParams:
      name: deviceId
      in: query
      schema:
        $ref: '#/components/schemas/DeviceId'
      required: true
    signalType:
      name: signalType
      in: query
      schema:
        $ref: '#/components/schemas/DeviceSignalType'
    semiProvisioned:
      name: semiProvisioned
      in: query
      schema:
        type: boolean
      description: >
        If <em>true,</em> only semiProvisioned devices will be returned.<br>
        If <em>false,</em> returns all the devices.<br>
        `semiProvisioned`:false has no impact on the API response.<br><br>
        <strong>Note:</strong> Both provisioned & semiProvisioned filters should not be used together
  schemas:
    FleetId:
      type: string
      description: Fleet identifier
      example: JJSDF3762
    DriverId:
      type: string
      description: Driver identifier
      example: DDDTYT632YU
    DefaultDriverId:
      type: string
      description: Default driver ID to be used when driver ID was not provided via other sources
      example: DDDTYT632YU
    DefaultDriverIdUpdatedAt:
      type: string
      format: date-time
      description: Default driver ID last updated at
    AssetId:
      type: string
      description: Asset identifier
      example: 6119bfe1-6f33-466d-8576-978b4846d860
    DriverName:
      type: string
      description: Driver name
      nullable: true
      example: Johnny Doe
    DefaultDriverName:
      type: string
      description: >
        Default driver name to be used when driver name was not provided via other sources <br>
        NOTE: SDK and APK will use `defaultDriverName` only if `defaultDriverId` is being assigned as the `driverId` for the trip
      example: Johnny Doe
    DefaultDriverNameUpdatedAt:
      type: string
      format: date-time
      description: Default driver name last updated at
    EventId:
      type: integer
      description: Event identifier. Uniquely identifies events within a trip
      example: 11
    TripId:
      type: string
      description: Trip identifier
      example: 20180115071303399-dsfhtt
    IgnitionId:
      type: string
      description: Unique identifier generated for the interval between vehicle on and off (in supported devices only).
      example: ceff926d-252a-41f8-af35-d370ac16da8b
    FullDate:
      type: string
      format: date
      example: '2018-08-01'
    StartTimeUTC:
      type: string
      format: date-time
      description: The UTC start time of the trip
    EndTimeUTC:
      type: string
      nullable: true
      format: date-time
      description: The UTC end time of the trip.<br> Value is null on ongoing trips.
    StartTime:
      type: string
      format: date-time
      description: The (local) start time of the trip
    EndTime:
      type: string
      nullable: true
      format: date-time
      description: The (local) end time of the trip.<br> Value is null on ongoing trips.
    DutyType:
      type: string
      example: light
      description: >
        Duty types are mutually excusive categories that describe the fleet's
        assets (example: 'light', 'medium', and 'heavy')
    Duration:
      type: integer
      description: >-
        Duration of the trip in seconds.<br>On ongoing trips, this field
        represents the known elapsed trip duration. It is updated in discrete
        increments.
      example: 8773
    TimezoneOffset:
      type: integer
      description: |
        Difference between UTC time and local time (UTC - local_time)
    TimeZoneId:
      type: string
      nullable: true
      description: >-
        IANA timezone-ID of the device's timezone<br>
        This key appears only for trips taken by SDK versions <strong>2.2.0</strong> and above.
      example: Asia/Kolkata
    Division:
      type: string
      description: Fleet division
      nullable: true
      example: Arizona
    DriverSummary:
      type: object
      properties:
        driverId:
          $ref: '#/components/schemas/DriverId'
        driverName:
          $ref: '#/components/schemas/DriverName'
    MediaFilesSummary:
      type: array
      items:
        type: object
        properties:
          mediaFile:
            $ref: '#/components/schemas/MediaFile'
          source:
            $ref: '#/components/schemas/MediaFileSource'
          mediaFileIndex:
            $ref: '#/components/schemas/MediaFileId'
          videoDetails:
            $ref: '#/components/schemas/VideoDetails'
          uploadStats:
            $ref: '#/components/schemas/UploadStatsResponse'
          videoStartTimeUTC:
            type: string
            format: date-time
            nullable: true
            description: >
              Event video startTimeUTC
          videoEndTimeUTC:
            type: string
            format: date-time
            nullable: true
            description: >
              Event video endTimeUTC
    DVRMediaFileSummary:
      type: array
      items:
        type: object
        properties:
          mediaFile:
            $ref: '#/components/schemas/MediaFile'
          source:
            $ref: '#/components/schemas/MediaFileSource'
          mediaFileIndex:
            $ref: '#/components/schemas/MediaFileId'
          videoDetails:
            $ref: '#/components/schemas/DVRVideoDetails'
    MediaFileId:
      type: integer
      description: Media File identifier. Uniquely identifies media files within an event.
      example: 1
    MediaFileSource:
      type: string
      enum:
        - ROAD_FACING
        - DRIVER_FACING
        - SIDE_BY_SIDE
        - PIP_ROAD_MAJOR
        - PIP_DRIVER_MAJOR
      description: >
        Video source.<br>
        `ROAD_FACING`&colon; Road-facing camera feed only.<br>
        `DRIVER_FACING`&colon; Driver-facing camera feed only.<br>
        `SIDE_BY_SIDE`&colon; Road-facing and driver-facing video stitched together side by side.<br>
        `PIP_ROAD_MAJOR`&colon; Small driver-facing frames attached on top of road-facing video frames.<br>
        `PIP_DRIVER_MAJOR`&colon; Small road-facing frames attached on top of driver-facing video frames.<br>
    MediaFile:
      type: string
      example: https://s3-us-west-9.amazonaws.com/bucket-name627hgfustdytfsd6f87687/video1234234dshf.mp4
      description: HTTP link to the event video file (signed URL)
    CameraMountingMediaFileSummary:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/MediaFileSource'
        mediaFileIndex:
          $ref: '#/components/schemas/MediaFileId'
        isBadMounting:
          type: boolean
          description: If <strong>true</strong>, camera is not correctly mounted
        mediaFile:
          type: string
          example: >-
            https://s3-us-west-9.amazonaws.com/bucket-name627hgfustdytfsd6f87687/video1234234dshf.mp4
          description: HTTP link of the camera mounting status media file.
    CameraMountingStatusFilesSummary:
      type: array
      nullable: true
      description: |
        Camera mounting information. Available for SDK version 3.0.4 and above.
      items:
        $ref: '#/components/schemas/CameraMountingMediaFileSummary'

    EventSummary:
      allOf:
        - $ref: '#/components/schemas/Location'
        - type: object
          properties:
            eventIndex:
              $ref: '#/components/schemas/EventId'
            eventType:
              type: string
              example: TG-Calib-Done
              description: The event type
            timestamp:
              type: string
              format: date-time
              description: Timestamp of the event (local time)
            timestampUTC:
              type: string
              format: date-time
              description: Timestamp of the event (UTC)
            eventVideoFile:
              $ref: '#/components/schemas/EventVideo'
            speedSignValue:
              type: number
              description: >
                Posted speed limit in km per hour<br> Appears on
                'Traffic-Speed-Sign_0', 'Traffic-Speed-Sign_1',
                'Traffic-Speed-Sign' and 'LOCEE-Traffic-Speed-Sign' events
            mediaFiles:
              $ref: '#/components/schemas/MediaFilesSummary'
            potentialCrashSeverityValue:
              type: number
              nullable: true
              description: >
                Appears only on `PotentialCrash` events
            distractedDuration:
              type: number
              nullable: true
              description: >
                Appears on DMS events
            distanceTraveled:
              type: number
              nullable: true
              description: >
                Appears on DMS events
    CoachingEventSummary:
      allOf:
        - type: object
          properties:
            eventIndex:
              $ref: '#/components/schemas/EventId'
            eventType:
              type: string
              example: TG-Calib-Done
              description: The event type
            timestamp:
              type: string
              format: date-time
              description: Timestamp of the event (local time)
            timestampUTC:
              type: string
              format: date-time
              description: Timestamp of the event (UTC)
            eventVideoFile:
              $ref: '#/components/schemas/EventVideo'
            mediaFiles:
              $ref: '#/components/schemas/MediaFilesSummary'
    EdvrRequests:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/DVRStatus'
        uploadRequestId:
          type: string
          description: Unique upload request ID
          example: 0zYOBcqeLB4HpvUk2BGclaTtKmcp4abAazenWiB
        eventVideoFile:
          type: string
          example: >-
            https://s3-us-west-9.amazonaws.com/bucket-name627hgfustdytfsd6f87687/video1234234dshf.mp4
          description: HTTP link of the EDVR event video file
        videoQuality:
          $ref: '#/components/schemas/TripFootageVideoQuality'
        videoResolution:
          $ref: '#/components/schemas/TripFootageVideoResolution'
        createdAt:
          type: string
          format: date-time
          description: Time when the edvr request was created for the event
        updatedAt:
          type: string
          format: date-time
          description: Time when the edvr request was updated for the event
        eventVideoFilename:
          $ref: '#/components/schemas/EventVideoFilename'
        mediaFiles:
          type: array
          nullable: true
          items:
            type: object
            properties:
              mediaFile:
                $ref: '#/components/schemas/MediaFile'
              source:
                $ref: '#/components/schemas/MediaFileSource'
              mediaFileIndex:
                $ref: '#/components/schemas/MediaFileId'
              videoDetails:
                $ref: '#/components/schemas/DVRVideoDetails'
        dvrVideoTypes:
          allOf:
            - nullable: true
            - description: The requested DVR video types.<br>
            - $ref: '#/components/schemas/MultiViewCollageResponse'
    VideoDetails:
      type: object
      description: Event video details
      nullable: true
      properties:
        videoWidth:
          type: integer
          description: Video width
          example: 640
        videoHeight:
          type: integer
          description: Video height
          example: 360
        videoBitrate:
          type: integer
          description: Video bitrate
          example: 500000
        videoQuality:
          type: integer
          description: Video quality, 0 being the lowest and 10 being the best
          example: 10
        videoType:
          type: string
          description: Video type
          enum:
            - sideBySide
            - pictureInPicture
            - road
            - driver
          example: pictureInPicture
        videoPiPType:
          type: string
          description: >
            Picture in picture mode type <br>Only present if videoType is <i>pictureInPicture</i>
          nullable: true
          enum:
            - road
            - driver
        codec_type:
          type: string
          description: Codec type
          nullable: true
          enum:
            - h264
            - h265
          example: h264
        audioEnabled:
          type: boolean
          description: >
            If true, audio is enabled for the video.<br>
            <strong>Note&colon;</strong>This is only available on trips taken with apk v1.12.0 and above.
          nullable: true
    CollageMediaDetails:
      type: object
      description: Collage media details
      properties:
        sources:
          allOf:
            - nullable: true
            - $ref: '#/components/schemas/MediaCollageSources'
        collage:
          nullable: true
          type: string
          enum: [C1x1, C1x2, C2x2, C3_1, C5_1, C6_1, C2x3, C7_1, CPIP_TOP_RIGHT, CPIP_TOP_LEFT, CPIP_BOTTOM_LEFT, CPIP_BOTTOM_RIGHT]
    DVRVideoDetails:
      allOf:
        - $ref: '#/components/schemas/VideoDetails'
        - $ref: '#/components/schemas/CollageMediaDetails'
    ViolationSummary:
      allOf:
        - $ref: '#/components/schemas/EventSummary'
        - $ref: '#/components/schemas/EventVideoFilenameUploadStatusResponse'
        - type: object
          properties:
            eventType:
              $ref: '#/components/schemas/ViolationEventType'
            challengeRaised:
              type: boolean
              description: >-
                true if this violation was challenged for review by the
                respective driver
            challengeResolved:
              type: boolean
              description: >
                true if a challenge was raised on this violation and was then
                resolved (accepted/rejected) by the fleet manager(s)
            challengeAccepted:
              type: boolean
              description: >-
                true if a challenge was raised on this violation and was then
                accepted as invalid by the fleet manager(s)
            challengeRaisedTimestamp:
              type: string
              format: date-time
              nullable: true
              description: >-
                Time when the violation was challenged (<strong>null</strong> if not applicable)
            challengeResolvedTimestamp:
              type: string
              format: date-time
              nullable: true
              description: >-
                Time when the challenge was resolved on this violation (<strong>null</strong> if not applicable)
            reportBug:
              type: boolean
              nullable: true
              description: true if bug was raised on this violation
            speedSign:
              $ref: '#/components/schemas/SpeedSignSummary'
            stopSign:
              $ref: '#/components/schemas/StopSignSummary'
            tailgatingMetricValue:
              type: number
              nullable: true
              description: |
                Appears on 'Tail-Gating-Detected' events
            tailgatingTimeToCollision:
              type: number
              nullable: true
              deprecated: true
              description: |
                Appears on 'Tail-Gating-Detected' events
            corneringAccelerationValue:
              type: number
              nullable: true
              description: |
                Appears on 'Cornering' events
            harshBrakingAccelerationValue:
              type: number
              nullable: true
              description: |
                Appears on 'Harsh-Braking' events
            harshAccelerationValue:
              type: number
              nullable: true
              description: |
                Appears on 'Harsh-Acceleration' events
            anomalyMetricValue:
              type: number
              nullable: true
              description: |
                Appears on 'Anomaly' events
            laneDriftMetricValue:
              type: number
              nullable: true
              description: |
                Appears on 'Lane-Drift-Found' events
            forwardCollisionMetricValue:
              type: number
              nullable: true
              description: |
                Appears on 'Forward-Collision-Warning' events
            exceededSpeedingValue:
              type: number
              nullable: true
              description: |
                Appears on 'MaxSpeedExceeded' events
            upperSpeedLimit:
              type: number
              nullable: true
              description: |
                Appears on 'MaxSpeedExceeded' events
            severity:
              type: number
              nullable: true
              description: |
                Appears on 'Distracted-Driving' and 'Drowsy-Driving-Detected' events
            speedingValue:
              type: number
              nullable: true
              description: >
                Difference between vehicle speed and posted speed limit in km
                per hour<br> Appears on 'Traffic-Speed-Violated' events
            lowestSpeedKmph:
              type: number
              description: >-
                Appears on 'Traffic-STOP-Sign-Violated' events.<br> The local
                minimum of the vehicle's speed at the stop sign in kilometres
                per hour.
              example: 14
            edvrRequests:
              type: array
              nullable: true
              description: List of event video upload requests on the event
              items:
                $ref: '#/components/schemas/EdvrRequests'
            division:
              $ref: '#/components/schemas/Division'
            videoDetails:
              $ref: '#/components/schemas/VideoDetails'
            imageDetails:
              $ref: '#/components/schemas/ImageDetails'
            bookmark:
              $ref: '#/components/schemas/Bookmark'
            bookmarkedTimestamp:
              $ref: '#/components/schemas/BookmarkedTimestamp'
            coachingCompleted:
              $ref: '#/components/schemas/CoachingCompleted'
            coachingCompletedTimestamp:
              $ref: '#/components/schemas/CoachingCompletedTimestamp'
            tags:
              $ref: '#/components/schemas/ViolationTags'
            comment:
              $ref: '#/components/schemas/ViolationComment'
            accProfileUploaded:
              $ref: '#/components/schemas/AccProfileUploaded'
    CommonEventKeysSummary:
      type: object
      properties:
        asset:
          type: object
          nullable: true
          properties:
            assetId:
              $ref: '#/components/schemas/AssetId'
        device:
          type: object
          nullable: true
          properties:
            deviceId:
              $ref: '#/components/schemas/DeviceId'
    SpeedSignSummary:
      type: object
      nullable: true
      description: >
        Speed-sign-detected event details<br> Appears on
        'Traffic-Speed-Violated' events
      properties:
        eventType:
          type: string
          description: >
            Event type
          enum:
            - Traffic-Speed-Sign_0
            - Traffic-Speed-Sign_1
            - Traffic-Speed-Sign
            - LOCEE-Traffic-Speed-Sign
          example: Traffic-Speed-Sign
        timestampUTC:
          $ref: '#/components/schemas/TimestampUTC'
        longitude:
          $ref: '#/components/schemas/Longitude'
        latitude:
          $ref: '#/components/schemas/Latitude'
        bearing:
          $ref: '#/components/schemas/Bearing'
        speed:
          $ref: '#/components/schemas/Speed'
        accuracy:
          $ref: '#/components/schemas/Accuracy'
        eventVideoFilename:
          $ref: '#/components/schemas/EventVideoFilename'
        speedSignValue:
          type: number
          description: >
            Posted speed limit in km per hour<br>
        eventIndex:
          $ref: '#/components/schemas/EventId'
        eventVideoFile:
          $ref: '#/components/schemas/EventVideo'
        imageDetails:
          $ref: '#/components/schemas/ImageDetails'
        mediaFiles:
          type: array
          items:
            type: object
            properties:
              mediaFile:
                $ref: '#/components/schemas/MediaFile'
              source:
                $ref: '#/components/schemas/MediaFileSource'
              mediaFileIndex:
                $ref: '#/components/schemas/MediaFileId'
              imageDetails:
                $ref: '#/components/schemas/ImageDetails'
    StopSignSummary:
      type: object
      nullable: true
      description: >
        Stop Sign Violated event details<br> Appears on
        'Traffic-STOP-Sign-Violated' events.
      properties:
        eventType:
          type: string
        timestampUTC:
          $ref: '#/components/schemas/TimestampUTC'
        longitude:
          $ref: '#/components/schemas/Longitude'
        latitude:
          $ref: '#/components/schemas/Latitude'
        bearing:
          $ref: '#/components/schemas/Bearing'
        speed:
          $ref: '#/components/schemas/Speed'
        accuracy:
          $ref: '#/components/schemas/Accuracy'
        stopSignValue:
          type: number
          description: >
            Posted speed limit in km per hour<br>
        eventIndex:
          $ref: '#/components/schemas/EventId'
        eventVideoFile:
          allOf:
            - nullable: true
            - $ref: '#/components/schemas/EventVideo'
        eventVideoFilename:
          allOf:
            - nullable: true
            - $ref: '#/components/schemas/EventVideoFilename'
        imageDetails:
          $ref: '#/components/schemas/ImageDetails'
        mediaFiles:
          type: array
          nullable: true
          items:
            type: object
            properties:
              mediaFile:
                $ref: '#/components/schemas/MediaFile'
              source:
                $ref: '#/components/schemas/MediaFileSource'
              mediaFileIndex:
                $ref: '#/components/schemas/MediaFileId'
              imageDetails:
                $ref: '#/components/schemas/ImageDetails'

    ImageDetails:
      type: object
      nullable: true
      properties:
        imageWidth:
          type: integer
          description: Image width
          example: 640
        imageHeight:
          type: integer
          description: Image height
          example: 360
        imageQuality:
          type: integer
          description: Image quality
          example: 10
        imageType:
          type: string
          description: Image type
          example: 'road'
    IgnitionOnTimestampUTC:
      type: string
      format: date-time
      description: Time of the ignition on event as recorded by the device (UTC time)
    IgnitionOnTimestamp:
      type: string
      format: date-time
      description: Time of the ignition on event as recorded by the device (local time)
    IgnitionOffTimestampUTC:
      type: string
      format: date-time
      nullable: true
      description: Time of the ignition off event as recorded by the device (UTC time)
    IgnitionOffTimestamp:
      type: string
      format: date-time
      nullable: true
      description: Time of the ignition off event as recorded by the device (local time)
    IgnitionTripCount:
      type: integer
      description: >-
        Number of trips taken between the ignition on-off period. If ongoing, the number of trips taken since vehicle ignition-on.
      example: 3
    StreamRequestId:
      type: string
      description: Unique identifier for live streams
    StreamSessionURL:
      type: string
      description: Pre-authenticated HLS session URL. Can be regenerated using the "Generate HLS Session URL API"
    TripSummary:
      allOf:
        - $ref: '#/components/schemas/TripEventSummary'
        - type: object
          properties:
            tripId:
              $ref: '#/components/schemas/TripId'
            startTimeUTC:
              $ref: '#/components/schemas/StartTimeUTC'
            endTimeUTC:
              $ref: '#/components/schemas/EndTimeUTC'
            startTime:
              $ref: '#/components/schemas/StartTime'
            endTime:
              $ref: '#/components/schemas/EndTime'
            duration:
              $ref: '#/components/schemas/Duration'
            firstLocation:
              allOf:
                - $ref: '#/components/schemas/Location'
                - type: object
                  description: Trip start location
                  properties:
                    locationInfo:
                      $ref: '#/components/schemas/LocationInfo'
            lastLocation:
              nullable: true
              allOf:
                - $ref: '#/components/schemas/Location'
                - type: object
                  description: Trip end location.<br> Value is null on ongoing Trips
                  properties:
                    locationInfo:
                      $ref: '#/components/schemas/LocationInfo'
            lastKnownLocation:
              nullable: true
              allOf:
                - $ref: '#/components/schemas/Location'
                - type: object
                  description: Trip last known location. Updated throughout the trip on SDK v4.3.0+.
                  properties:
                    locationInfo:
                      $ref: '#/components/schemas/LocationInfo'
            cameraSerialId:
              type: string
              description: The serial ID of the camera used in the trip
              example: RIDECAM_003518CC00423649
            tripDataUploaded:
              type: boolean
              description: If <strong>true</strong>, trip data has been uploaded to the server.
            timezoneOffset:
              $ref: '#/components/schemas/TimezoneOffset'
            division:
              $ref: '#/components/schemas/Division'
            ignitionId:
              allOf:
                - $ref: '#/components/schemas/IgnitionId'
                - nullable: true
            ongoing:
              $ref: '#/components/schemas/Ongoing'
            timeZoneId:
              $ref: '#/components/schemas/TimeZoneId'
            cameraMountingStatus:
              $ref: '#/components/schemas/CameraMountingStatus'
            device:
              $ref: '#/components/schemas/Device'
            hasDriverCamera:
              type: boolean
              description: >
                True if the device has driver facing camera.
            cameraMountingStatusFiles:
              $ref: '#/components/schemas/CameraMountingStatusFilesSummary'
            statusUpdateTimestamp:
              type: string
              nullable: true
              format: date-time
              description: >-
                Timestamp of the last update of the trip.
              example: '2019-09-16T04:05:05.563Z'
            customEventCount:
              type: object
              nullable: true
              properties:
                total:
                  type: integer

    AssetSummary:
      allOf:
        - $ref: '#/components/schemas/PackageConfiguration'
        - type: object
          description: >
            Details of the asset associated with the trip<br>
            Describes the state of the asset when the trip
            started
          properties:
            dutyType:
              $ref: '#/components/schemas/DutyType'
    EventVideoFilenameUploadStatusResponse:
      type: object
      properties:
        eventVideoFilenameUploadStatus:
          type: object
          description: |
            Event Video file upload details.
          properties:
            status:
              type: string
              enum:
                - NOT_MARKED_FOR_UPLOAD
                - UPLOADING
                - MARKED_FOR_UPLOAD
                - UPLOADED
                - CANCELLED
              description: >
                The current status of the video file upload<br>
                `MARKED_FOR_UPLOAD` - The file is yet to be uploaded<br>
                `UPLOADING` - File upload was attempted but failed. The SDK will
                try to upload the file again after a delay<br>
                `NOT_MARKED_FOR_UPLOAD` - The enclosing app prevented the file
                upload using the 'uploadLogic' setting<br> `UPLOADED` - File
                upload is complete<br> `CANCELLED` - File upload was cancelled
                after multiple failed attempts
            uploadTimestamp:
              type: string
              nullable: true
              format: date-time
              description: >-
                Timestamp of the file upload. Appears only when the status is
                'UPLOADED'
              example: '2019-09-16T04:05:05.563Z'
    UploadStatsResponse:
      type: object
      description: |
        Event Media file upload details.
      properties:
        status:
          type: string
          enum:
            - NOT_MARKED_FOR_UPLOAD
            - UPLOADING
            - MARKED_FOR_UPLOAD
            - UPLOADED
            - CANCELLED
          description: >
            The current status of the video file upload<br>
            `MARKED_FOR_UPLOAD` - The file is yet to be uploaded<br>
            `UPLOADING` - File upload was attempted but failed. The SDK will
            try to upload the file again after a delay<br>
            `NOT_MARKED_FOR_UPLOAD` - The enclosing app prevented the file
            upload using the 'uploadLogic' setting<br> `UPLOADED` - File
            upload is complete<br> `CANCELLED` - File upload was cancelled
            after multiple failed attempts
        uploadTimestamp:
          type: string
          nullable: true
          format: date-time
          description: >-
            Timestamp of the file upload. Appears only when the status is
            'UPLOADED'
          example: '2019-09-16T04:05:05.563Z'
    SuccessMessage:
      type: object
      properties:
        message:
          type: string
          example: Success!
          description: >
            A message<br> <strong>Caution: This field is only for display. Do
            not write any logic around it.</strong><br> (Don't do this: <i>if
            (message=='success') // do something</i>)
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: ERROR!!!
          description: >
            The detailed error message<br> <strong>Caution: This field is only
            for display. Do not write any logic around it.</strong><br> (Don't
            do this: <i>if (message=='error') // do something</i>)
    VideoUploadRequestSummary:
      type: object
      description: Details and status of trip footage upload request
      properties:
        uploadRequestId:
          type: string
          description: Upload request unique identifier
          example: dsfahfiuewf-3ryuwihfeii
        createdAt:
          type: string
          format: date-time
          description: Timestamp of the request's creation
        updatedAt:
          type: string
          format: date-time
          description: Timestamp of the most recent update to the request status
        startTime:
          $ref: '#/components/schemas/TripFootageStartTime'
        endTime:
          $ref: '#/components/schemas/TripFootageEndTime'
        startTimeUTC:
          $ref: '#/components/schemas/TripFootageStartTimeUTC'
        endTimeUTC:
          $ref: '#/components/schemas/TripFootageEndTimeUTC'
        videoQuality:
          $ref: '#/components/schemas/TripFootageVideoQuality'
        videoResolution:
          $ref: '#/components/schemas/TripFootageVideoResolution'
        status:
          $ref: '#/components/schemas/DVRStatus'
        timelapseEnabled:
          type: boolean
          description: Timelapse is enabled for the DVR video
        timelapseCaptureInterval:
          type: integer
          minimum: 1
          maximum: 3600
          example: 2
          nullable: true
          description: Indicates the time interval in seconds between 2 consecutives frames picked to generate the time-lapse video
        timelapseDisplayInterval:
          type: number
          minimum: 0.01
          maximum: 10.0
          example: 0.2
          nullable: true
          description: Indicates the display time interval in seconds between 2 consecutives frames used while generating the time-lapse video
        response:
          type: object
          description: The SDK's response to the upload request
          properties:
            link:
              type: string
              example: >-
                https://s3-region-123.amazonaws.com/abc-bucket382979482634687/file-007.mp4
              description: >-
                The URL of the uploaded file. Available when the status is
                <em>FINISHED</em>
            mediaFiles:
              $ref: '#/components/schemas/DVRMediaFileSummary'
        firstLocation:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Location'
            - type: object
              description: First location of the requested portion of the trip video
        lastLocation:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Location'
            - type: object
              description: Last location of the requested portion of the trip video
        bookmark:
          $ref: '#/components/schemas/Bookmark'
        bookmarkedTimestamp:
          $ref: '#/components/schemas/BookmarkedTimestamp'
        coachingCompleted:
          $ref: '#/components/schemas/CoachingCompleted'
        coachingCompletedTimestamp:
          $ref: '#/components/schemas/CoachingCompletedTimestamp'
        tags:
          $ref: '#/components/schemas/ViolationTags'
        comment:
          $ref: '#/components/schemas/ViolationComment'
        isViewed:
          $ref: '#/components/schemas/IsViewed'
        accProfileUploaded:
          $ref: '#/components/schemas/AccProfileUploaded'
    TripFootageStartTime:
      type: string
      format: date-time
      description: >
        The start time of the requested portion of the trip video (local
        time)<br>
    TripFootageEndTime:
      type: string
      format: date-time
      description: |
        The end time of the requested portion of the trip video (local time)<br>
    CaptureTimestampUTC:
      type: string
      format: date-time
      description: |
        The time of the requested portion of the trip image (UTC)<br>
    TripFootageStartTimeUTC:
      type: string
      format: date-time
      description: |
        The start time of the requested portion of the trip video (UTC)<br>
    TripFootageEndTimeUTC:
      type: string
      format: date-time
      description: |
        The end time of the requested portion of the trip video (UTC)<br>
    TripFootageVideoQuality:
      type: integer
      minimum: 1
      maximum: 10
      default: 10
      description: 'Desired video quality, 0 being the lowest and 10 being the best'
    TripFootageVideoResolution:
      type: string
      default: 640x360
      enum:
        - 320x180
        - 640x360
        - 1280x720
      description: Desired video resolution in pixels
    TripFootageUnitSystem:
      type: string
      default: imperial
      enum:
        - metric
        - imperial
      description: Units used for vehicle speed value inscription on the video
    DVRVideoType:
      type: string
      default: road
      enum:
        - road
        - sideBySide
        - pictureInPicture
        - driver
      nullable: true
      description: >
        `road`: The requested video will be only from road facing camera<br>
        `sideBySide`: The requested video will be of both road facing camera and driver facing camera collaged side-by-side.<br>
        `driver`: The requested video will be only from driver facing camera<br>
        `pictureInPicture`: Both the road and the driver camera frames are collaged in a single video frame.
         The requested video has a main video component which spans the full video frame and a secondary video component which is downscaled and is inset within the main video frame.<br>
    DVRVideoTypeMainFrame:
      type: string
      default: road
      enum:
        - road
        - driver
      nullable: true
      description: >
        Note: This parameter should be specified when dvrVideoType is <strong>pictureInPicture</strong><br><br>
        `road`: If specified then the main video component will be from the road facing camera and the driver camera frames will be inset at top right corner of the video frame.<br>
        `driver`: If specified the main video component will be from the driver facing camera and the road camera frames will be inset at bottom right corner of the video frame.
    CommonDVRVideoType:
      type: string
      enum:
        - road
        - sideBySide
        - pictureInPicture
        - driver
        - separate
      nullable: true
      description: >
        `road`: The requested video will be only from road facing camera<br>
        `sideBySide`: The requested video will be of both road facing camera and driver facing camera collaged side-by-side.<br>
        `driver`: The requested video will be only from driver facing camera<br>
        `pictureInPicture`: Both the road and the driver camera frames are collaged in a single video frame.<br>
          The requested video has a main video component which spans the full video frame and a secondary video component which is downscaled and is inset within the main video frame.<br>
        `separate`: The requested video will be from both road and driver facing cameras.<br>
    DriverCameraVideoQuality:
      type: integer
      minimum: 1
      maximum: 10
      description: >
        Desired video quality, 0 being the lowest and 10 being the best.<br>
          <strong>Note:</strong> This parameter should be specified only when dvrVideoType is <strong>separate</strong><br>
    DriverCameraVideoResolution:
      type: string
      enum:
        - 320x180
        - 640x360
        - 1280x720
      description: >
        Desired video resolution in pixels.<br>
        <strong>Note:</strong> This parameter should be specified only when dvrVideoType is <strong>separate</strong><br><br>
    DVRVideoTypeMainFrameResponse:
      type: string
      enum:
        - road
        - driver
      nullable: true
      description: >
        Included only if dvrVideoType is <strong>pictureInPicture</strong><br>
        `road`: The main video component are from the road facing camera and the driver camera frames are inset at top right corner of the video frame.<br>
        `driver`: The main video component are from the driver facing camera and the road camera frames are inset at bottom right corner of the video frame.
    DVRMetadata:
      type: object
      additionalProperties: true
      description: >
        Custom metadata object for user-specific data<br>
        <strong>Must contain at most five key-value pairs.</strong> Only
        strings, booleans and numbers are allowed as values.<br>
        Maximum key length allowed is 50 characters and 
        string values may contain at most 100 characters.
      example:
        customEventIndex: 1
    Page:
      type: object
      properties:
        limit:
          type: integer
          example: 50
          description: >
            The limit that was used for this request<br> This will not be equal
            to the limit specified in the request parameters if the input limit
            is greater than the maximum value, or less than the minimum value
        skip:
          type: integer
          description: The offset that was used for this request
    PageBookmark:
      type: object
      properties:
        bookmark:
          type: string
          example: eyJvZmZzZXRzIjp7InExIjotMSwicTIiOi0xLCJxMyI6LTF9fQ==
          description: >
            An opaque string used for paging<br>
            Returned when skip is null or zero and when bookmark query parameter is specified.
    DVRStatus:
      type: string
      enum:
        - PENDING
        - ACKNOWLEDGED
        - STARTED
        - FINISHED
        - UNAVAILABLE
        - FAILED
        - CANCELED
      description: >
        Current status of the upload request<br><br>
        `PENDING`: The request is yet to reach the concerned device<br>
        `ACKNOWLEDGED`: The request was received by the device<br> `STARTED`:
        Trip footage upload has started<br> `FINISHED`: Trip footage was
        successfully uploaded to the server and the URL of the uploaded file is
        available. The request is closed<br> `UNAVAILABLE`: Trip footage was not
        found on the device. The request is closed.<br> `FAILED`: Trip footage
        upload failed. The SDK will retry uploading the footage<br> `CANCELED`:
        The upload request was canceled by the SDK due to numerous failures. The
        request is closed.
    EventVideoFilename:
      nullable: true
      type: string
      example: >-
        https://s3-us-west-9.amazonaws.com/bucket-name627hgfustdytfsd6f87687/video1234234dshf.mp4
      description: Duplicate of eventVideoFile key
      deprecated: true
    RangeType:
      type: string
      description: >-
        The period for which the chart needs to be shown to the enduser. <br>
        The date entered should be less than 6 months from todays date.
      example: monthly
    VisualizationResponse:
      type: array
      items:
        type: object
        properties:
          fleetId:
            $ref: '#/components/schemas/FleetId'
          chartType:
            type: string
            description: The requested chart type.
            example: driverPerf
          date:
            type: string
            description: The requested date.
            example: 2019-07
          link:
            type: string
            description: >-
              The link of the html file which contains visualizationn stats of
              the requested chart type .<br>for the requested periodFor example
              between driverVsAsset, driverPerf.
            example: 'https://abcBucket.s3.abcRegion.amazonaws.com'
    DvRSummary:
      type: object
      properties:
        fleetId:
          $ref: '#/components/schemas/FleetId'
        driverId:
          $ref: '#/components/schemas/DriverId'
        driverName:
          $ref: '#/components/schemas/DriverName'
        tripId:
          $ref: '#/components/schemas/TripId'
        assetId:
          $ref: '#/components/schemas/AssetId'
        startTimeUTC:
          $ref: '#/components/schemas/TripFootageStartTime'
        endTimeUTC:
          $ref: '#/components/schemas/TripFootageEndTime'
        dvrVideoType:
          $ref: '#/components/schemas/CommonDVRVideoType'
        dvrVideoTypeMainFrame:
          $ref: '#/components/schemas/DVRVideoTypeMainFrameResponse'
        dvrVideoTypes:
          allOf:
            - nullable: true
            - description: The requested DVR video types.<br>
            - $ref: '#/components/schemas/MultiViewCollageResponse'

    CameraMountingSummary:
      type: object
      properties:
        link:
          type: string
          description: HTTP link of the camera mounting video file.
          example: 'https://abcBucket.s3.abcRegion.amazonaws.com'
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the video recording (local time)
        fleetId:
          $ref: '#/components/schemas/FleetId'
        assetId:
          $ref: '#/components/schemas/AssetId'
        driverId:
          $ref: '#/components/schemas/DriverId'
        tripId:
          type: string
          example: 20180115071303399-dsfhtt
          description: >-
            ID of the most recent trip of the asset during which its camera was
            mounted incorrectly
        deviceId:
          $ref: '#/components/schemas/DeviceId'
        cameraMountingStatusFiles:
          type: array
          nullable: true
          description: |
            Camera mounting information.
          items:
            allOf:
              - type: object
                properties:
                  source:
                    $ref: '#/components/schemas/MediaFileSource'
                  mediaFileIndex:
                    $ref: '#/components/schemas/MediaFileId'
                  mediaFile:
                    type: string
                    example: >-
                      https://s3-us-west-9.amazonaws.com/bucket-name627hgfustdytfsd6f87687/video1234234dshf.mp4
                    description: HTTP link of the camera mounting status media file.
                  videoDetails:
                    $ref: '#/components/schemas/VideoDetails'
                  mediaType:
                    type: string
                    enum: ['AUDIO', 'VIDEO']
                    nullable: true
    DvrEnabled:
      type: boolean
      description: >-
        If <strong>true</strong>, upload requests can be made for the trip's
        video
    EdvrEnabled:
      type: boolean
      description: >-
        If <strong>true</strong>, EDVR requests can be made for the trip's
        video
    AccelerationThreshold:
      type: number
      nullable: true
      example: 2.1
      description: The acceleration threshold for this specific inertial event
    Accelerometer:
      type: array
      nullable: true
      description: Accelerometer profile
      items:
        type: object
        properties:
          timeOfDay:
            type: string
            format: time
            example: '16:14:56'
            description: Time of day corresponding to this sensor record
          timestampUTC:
            type: integer
            example: 1574266496001
            description: Timestamp corresponding to this sensor record (UTC)
          axes:
            type: object
            description: Accelerometer sensor data
            properties:
              x:
                type: number
                format: float
                description: x-axis reading in m/s2
                example: 9.9560546875
              'y':
                type: number
                format: float
                description: y-axis reading in m/s2
                example: 1.97265625
              z:
                type: number
                format: float
                description: z-axis reading in m/s2
                example: 0.9326171875
    InertialSensorData:
      type: object
      nullable: true
      description: >-
        Inertial sensor data at the time of the event<br>
        Included only if 'includeInertialSensorData' is true
      properties:
        accelerationThreshold:
          $ref: '#/components/schemas/AccelerationThreshold'
        accelerometer:
          $ref: '#/components/schemas/Accelerometer'
    DVRInertialSensorData:
      type: object
      nullable: true
      description: >-
        Inertial sensor data at the time of the requested portion of the trip <br>
        Included only if 'includeInertialSensorData' is true
      properties:
        accelerometer:
          $ref: '#/components/schemas/Accelerometer'
    CustomTripParams:
      type: object
      nullable: true
      deprecated: true
      description: Custom data set during the trip via the SDK<br>Included only if the includeCustomTripKeys input parameter is true
    CameraSerialId:
      type: string
      description: The serial ID of the camera used in the trip
      example: RIDECAM_003518CC00423649
    PackageConfiguration:
      type: object
      properties:
        assetId:
          $ref: '#/components/schemas/AssetId'
        cameraType:
          type: string
          default: RIDECAM
          description: >
            Type of the camera used by the asset.<br>
            <strong>Caution&colon; SDK versions lower than 3.0 will use `RIDECAM` camera type even if the corresponding
            asset is configured for `RIDECAM_PLUS`.</strong>
          enum:
            - RIDECAM
            - RIDECAM_PLUS
        packages:
          type: array
          example:
            - DVR
          description: >
            The list of all add-ons that the asset is eligible for, if it is
            active. Applies only to `RIDECAM` <em>cameraType</em>.<br>
          nullable: true
          items:
            type: string
            enum:
              - DVR
              - EDVR
        ridecamPlusPlan:
          allOf:
            - $ref: '#/components/schemas/RidecamplusPlan'
            - description: Ridecam-plus payment plan. Applies only to `RIDECAM_PLUS` <em>cameraType</em>.
        plusPackages:
          type: array
          description: >
            List of packages enabled on the asset. This value is controlled by the asset's <em>ridecamPlusPlan</em>.
            This field only appears on assets with `RIDECAM_PLUS` cameraType.<br>
            The values will depend on the saved <strong>ridecamPlusPlan</strong><br>
            `DVR`: If enabled, DVR requests can be made on trips taken by the asset<br>
            `EDVR`: If enabled, EDVR requests can be made on trips taken by the asset<br>
            `G-sensor`: If enabled, G-sensor based events such as harsh acceleration and hard braking events will be captured<br>
            `ADAS`: If enabled, all ADAS events such as tailgating, speeding and stop sign violations will be captured<br>
            `DMS`: If enabled, face recognition and driver distraction events will be supported<br>
            `ADAS_TG`: If enabled, tailgating violations will be captured<br>
            `DMS_DISTRACTION`: If enabled, driver distraction events will be supported<br>
            `DMS_FACEID`: If enabled, face recognition is supported<br>
          nullable: true
          items:
            type: string
            enum:
              - DVR
              - EDVR
              - G-sensor
              - ADAS
              - DMS
    PatchPackageConfigurationInput:
      description: Package configuration for an asset
      required:
        - assetId
      type: object
      properties:
        assetId:
          $ref: '#/components/schemas/AssetId'
        active:
          type: boolean
          default: true
          description: >
            If <strong>false</strong>, deactivates a previously registered
            asset identified by input <em>assetId</em>.
        dutyType:
          type: string
          example: heavy
          default: default
          description: >
            The duty type of the asset<br> Duty types are mutually excusive
            categories that describe the fleet's assets (example: 'light',
            'medium', and 'heavy')<br> <strong>While enabling a previously
            disabled asset, the previous value is inherited if not specified in
            the input</strong>
        cameraType:
          type: string
          default: RIDECAM
          description: >
            Type of the camera used by the asset.<br>
            <strong>Caution&colon; SDK versions lower than 3.0 will use `RIDECAM` camera type even if the corresponding
            asset is configured for `RIDECAM_PLUS`.</strong>
          enum: [RIDECAM, RIDECAM_PLUS]
        packages:
          type: array
          example:
            - DVR
          description: >
            The list of all add-ons that the asset is eligible for.<br>
            This field applies when <em>cameraType</em> is `RIDECAM`.<br>
            <strong>While enabling a previously disabled asset, the previous value is inherited if not specified in the input</strong><br>
          items:
            type: string
            enum:
              - DVR
              - EDVR
        ridecamPlusPlan:
          allOf:
            - $ref: '#/components/schemas/RidecamplusPlan'
            - description: >
                Ridecam-plus payment plan.<br>
                This field is <strong>required</strong> when <em>cameraType</em> is `RIDECAM_PLUS`.<br>
                `STANDARD`: This plan includes DVR, EDVR and G-sensor events support<br>
                `PRO`: This plan includes everything in the `STANDARD` plan in addition to ADAS events support<br>
                `ADVANCED`: This plan includes everything in the `PRO` plan in addition to DMS events support<br>
                `PRO+`: This plan includes everything in the `STANDARD` plan in addition to support for tailgating events,
                driver distraction, and face recognition<br>
        pilot:
          type: boolean
          default: false
          description: >
            If <strong>true</strong>, the asset's billing state is
            set/changed to 'pilot' (billing status is 'paid' by default)<br>
            The pilot state expires after one month. It cannot be refreshed
            or renewed.
        billingPeriod:
          type: integer
          minimum: 1
          default: 1
          description: Billing period of the asset in months
        metadata:
          type: object
          description: >
            Optional<br> Custom metadata object for user-specific data<br>
            <strong>Must contain at most ten key-value pairs.</strong> Only
            strings, booleans and numbers are allowed as values<br>
            <strong>While enabling a previously disabled asset, the previous
            value is inherited if not specified in the input</strong>
          example:
            make: N/A
            addedOn: February 31 2017
        tags:
          type: array
          example:
            - 'serialNumber:322'
            - Eighteen Wheeler
          items:
            type: string
          description: >
            Optional<br> A list of tags which can be used for searching
            assets<br> <strong>Must contain at most three elements</strong><br>
            <strong>While enabling a previously disabled asset, the previous
            value is inherited if not specified in the input</strong>
        recurringLivestreamExtraMinutes:
          type: number
          enum: [0, 100, 200, 300, 400, 500, 600, 700, 800, 900]
          description: >
            Extra livestream minutes to be provisioned the next month onwards 
            (current month too, in case the value is set for the first time on the asset).<br>
            The <strong>recurringLivestreamExtraMinutes</strong> value at the beginning of a given month will be
            in effect as <strong>currentMonthLivestreamExtraMinutes</strong> throughout the month. Exception&colon; when the
            recurringLivestreamExtraMinutes value is set for the first time on an existing asset, it will immediately
            come to effect as currentMonthLivestreamExtraMinutes.
          example: 100
        defaultDriverId:
          $ref: '#/components/schemas/DefaultDriverId'
        defaultDriverName:
          $ref: '#/components/schemas/DefaultDriverName'
    PackageConfigurationOutput:
      description: Package configuration for an asset
      allOf:
        - $ref: '#/components/schemas/PackageConfiguration'
        - type: object
          properties:
            fleetId:
              $ref: '#/components/schemas/FleetId'
            active:
              type: boolean
              description: >
                <strong>true</strong> if the asset is currently active<br> Trips
                can be initiated only on assets that are registered and are
                active
            start:
              type: string
              format: date-time
              description: The start date of the package configuration
            end:
              type: string
              format: date-time
              description: >
                The end date of the package configuration<br> <strong>Only
                appears on <span style='color:red'>inactive</span>
                configurations</strong>
            pilotActive:
              type: boolean
              description: >-
                If <strong>true</strong>, the asset's billing status is 'pilot'
                ('paid' by default)
            pilotAvailable:
              type: boolean
              description: >
                If <strong>true</strong>, the asset's billing state can be
                changed to 'pilot'. Otherwise, the asset's pilot state is
                ongoing or has expired.
    IgnitionDetails:
      type: object
      properties:
        ignitionOnTimestampUTC:
          $ref: '#/components/schemas/IgnitionOnTimestampUTC'
        ignitionOnTimestamp:
          $ref: '#/components/schemas/IgnitionOnTimestamp'
        timezoneOffset:
          $ref: '#/components/schemas/TimezoneOffset'
        timeZoneId:
          $ref: '#/components/schemas/TimeZoneId'
        firstLocation:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Location'
            - type: object
              description: First location of the device since the ignition-on event
        lastLocation:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Location'
            - type: object
              description: Location of the device at the time of the ignition-off event.<br> Value is null on ongoing Trips
        tripCount:
          $ref: '#/components/schemas/IgnitionTripCount'
        ongoing:
          $ref: '#/components/schemas/Ongoing'
        ignitionOffTimestampUTC:
          $ref: '#/components/schemas/IgnitionOffTimestampUTC'
        ignitionOffTimestamp:
          $ref: '#/components/schemas/IgnitionOffTimestamp'
    ActivePackageConfigurationOutput:
      allOf:
        - $ref: '#/components/schemas/PackageConfigurationOutput'
        - type: object
          properties:
            dutyType:
              type: string
              example: heavy
              description: >
                The duty type of the asset<br> Duty types are mutually excusive
                categories that describe the fleet's assets (example: 'light',
                'medium', and 'heavy')<br> <strong>Only appears on <span
                style='color:green'>active</span> configurations</strong>
            billingPeriod:
              type: integer
              example: 1
              description: >
                Billing period of the asset in months<br> Equal to
                <strong>1</strong> if unspecified
            metadata:
              type: object
              description: >
                Custom metadata object which contains user-specific data<br>
                <strong>Only appears on <span style='color:green'>active</span>
                configurations</strong>
              example:
                make: N/A
                addedOn: February 31 2017
            tags:
              type: array
              example:
                - 'serialNumber:322'
                - Eighteen Wheeler
              items:
                type: string
              description: >
                A list of user specified tags<br> <strong>Only appears on <span
                style='color:green'>active</span> configurations</strong>
            deviceId:
              allOf:
                - nullable: true
                - $ref: '#/components/schemas/DeviceId'
            currentMonthLivestreamExtraMinutes:
              type: number
              nullable: true
              example: 0
              enum: [0, 100, 200, 300, 400, 500, 600, 700, 800, 900]
              description: >
                Extra livestream minutes provisioned on the asset in the current month.
            recurringLivestreamExtraMinutes:
              type: number
              nullable: true
              enum: [0, 100, 200, 300, 400, 500, 600, 700, 800, 900]
              example: 0
              description: >
                Extra livestream minutes to be provisioned the next month onwards 
                (current month too, in case the value is set for the first time on the asset).<br>
                The <strong>recurringLivestreamExtraMinutes</strong> value at the beginning of a given month will be
                in effect as <strong>currentMonthLivestreamExtraMinutes</strong> throughout the month. Exception&colon;
                when the recurringLivestreamExtraMinutes value is set for the first time on an existing asset, it will
                immediately come to effect as currentMonthLivestreamExtraMinutes.
            isRecurringLivestreamExtraMinutesSet:
              type: boolean
              description: true if recurringLivestreamExtraMinutes value is set. If false, the next update to
                recurringLivestreamExtraMinutes will be effective immediately.
            defaultDriverId:
              $ref: '#/components/schemas/DefaultDriverId'
            defaultDriverIdUpdatedAt:
              $ref: '#/components/schemas/DefaultDriverIdUpdatedAt'
            defaultDriverName:
              $ref: '#/components/schemas/DefaultDriverName'
            defaultDriverNameUpdatedAt:
              $ref: '#/components/schemas/DefaultDriverNameUpdatedAt'
    EventIndex:
      type: integer
      description: Event Identifier
      example: 71
    LocationInfo:
      type: object
      nullable: true
      properties:
        Address:
          $ref: '#/components/schemas/Address'
        LongLabel:
          $ref: '#/components/schemas/LongLabel'
        District:
          $ref: '#/components/schemas/District'
        City:
          $ref: '#/components/schemas/City'
        MetroArea:
          $ref: '#/components/schemas/MetroArea'
        SubRegion:
          $ref: '#/components/schemas/SubRegion'
        Region:
          $ref: '#/components/schemas/Region'
        Territory:
          $ref: '#/components/schemas/Territory'
        Postal:
          $ref: '#/components/schemas/Postal'
        CountryCode:
          $ref: '#/components/schemas/CountryCode'
    CurrentSwVersion:
      type: string
      description: Software version identifier
      example: F18061501.1129
    FirmwareVersion:
      type: object
      properties:
        swversion:
          type: string
          format: float
          description: Latest Software version  available.
        hwversion:
          type: number
          format: integer
          description: Latest hardware version available.
        filesize:
          type: number
          format: integer
          description: Size of the availabe file to download.
        revisionDate:
          type: string
          format: date-time
          description: Last revison date.
        fileName:
          type: string
          format: float
          description: Name of the software file.
        url:
          type: string
          format: float
          description: Url to download the file.
        message:
          type: string
          format: float
          description: Tells wether upgrade is needed or not.
        upgradeneeded:
          type: string
          format: float
          description: Tells wether upgrade is needed or not.
      example:
        swversion: F18061501.1129
        hwversion: '2'
        filesize: '11579032'
        revisionDate: '2018-11-12'
        fileName: AC1000-V17070401-T17050101-T17052201-F18061501.1129.sw
        url: >-
          https://s3-us-west-2.amazonaws.com/camfirmwareus/AC1000-V17070401-T17050101-T17052201-F18061501.1129.sw
        message: Upgrade not needed - you already have latest version
        upgradeneeded: 'no'
    SmartCamVersion:
      type: object
      properties:
        versionName:
          $ref: '#/components/schemas/SmartCamVersionName'
        buildNumber:
          $ref: '#/components/schemas/BuildNumber'
        link:
          $ref: '#/components/schemas/SmartCamLink'
        prerelease:
          $ref: '#/components/schemas/PrereleaseVersion'
        releaseDate:
          $ref: '#/components/schemas/ReleaseDate'
        apiVersion:
          $ref: '#/components/schemas/ApiVersion'
    SmartCamVersionName:
      type: string
      description: |
        The version of the smartcam
      example: 2.0.11
    BuildNumber:
      type: number
      description: |
        The build number of the smartCam Version.
      example: 12345
    SmartCamLink:
      type: string
      description: |
        The link of the SmartCam APK to download.
      example: 'https://s3-region.amazonaws.com/bucketName/2019-02-12_1280X80.apk'
    PrereleaseVersion:
      type: boolean
      description: 'If true, smartCam version is a prerelease version.'
    ReleaseDate:
      type: string
      format: date-time
      description: The released date of the smartCam version.
    ApiVersion:
      type: number
      description: |
        API version Identifier.
    FleetSdkCommonConfiguration:
      type: object
      properties:
        lastUpdated:
          type: string
          format: date-time
          description: Timestamp of the last update of the common configuration
        configuration:
          allOf:
            - $ref: '#/components/schemas/FleetSdkConfiguration'
            - type: object
              description: A map of duty types to their respective common configuration
    FleetLevelSdkConfiguration:
      type: object
      properties:
        lastUpdated:
          type: string
          format: date-time
          description: Timestamp of the last update of the fleet-level configuration
        configuration:
          allOf:
            - $ref: '#/components/schemas/FleetSdkConfiguration'
            - type: object
              description: >-
                A map of duty types to their respective fleet-level
                configuration
        includesCommon:
          type: boolean
          deprecated: true
          nullable: true
          description: >-
            Specifies whether common configuration was included in the
            configuration
    FleetSdkConfiguration:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/DutyTypeSdkConfiguration'
      properties:
        default:
          allOf:
            - type: object
              description: >
                Collection of settings used by the Lightmetrics SDK<br> The
                <em>default</em> configuration is used by assets whose duty type
                is unassigned or unknown
            - $ref: '#/components/schemas/DutyTypeSdkConfiguration'
    DutyTypeSdkConfiguration:
      type: object
      description: Collection of settings used by the Lightmetrics SDK
      properties:
        speedingEnabled:
          type: boolean
          description: >
            If true, speeding violations will be detected.<br>
            Supported in the following countries&colon; US, Canada, UK, Australia, South Africa, India, Mexico.
        stopSignEnabled:
          type: boolean
          description: >
            If true, stop sign violations will be detected.<br>
            Supported in the following countries&colon; US, Canada (including Quebec), UK, Australia, South Africa, India.
        hardBrakingEnabled:
          type: boolean
          x-system-default: true
          description: 'If true, hard braking will be detected'
        harshAccelerationEnabled:
          type: boolean
          x-system-default: true
          description: 'If true, harsh acceleration will be detected'
        laneDriftEnabled:
          type: boolean
          x-system-default: true
          description: 'If true, lane drift will be detected'
        laneDepartureEnabled:
          type: boolean
          x-system-default: true
          description: 'If true, lane departure will be detected'
        corneringEnabled:
          type: boolean
          x-system-default: true
          description: 'If true, cornering will be detected'
        tailgatingEnabled:
          type: boolean
          x-system-default: true
          description: 'If true, tailgating will be detected'
        anomalyEnabled:
          type: boolean
          x-system-default: true
          description: 'If true, anomalous acceleration profiles will be detected'
        maxSpeedEnabled:
          type: boolean
          x-system-default: true
          description: 'If true, maximum speed violations will be detected'
        speedCapEnabled:
          type: boolean
          x-system-default: true
          deprecated: true
          nullable: true
        forwardCollisionWarningEnabled:
          type: boolean
          x-system-default: true
          nullable: true
        lizardEyeDistractionEnabled:
          type: boolean
          x-system-default: true
          nullable: true
        enableUnbuckledSeatBelt:
          type: boolean
          x-system-default: true
          nullable: true
        rollOverEnabled:
          type: boolean
          x-system-default: true
          nullable: true
        potentialCrashEnabled:
          type: boolean
          x-system-default: true
          nullable: true
        hardBrakingThreshold:
          type: number
          format: float
          x-system-default: 4.5
          minimum: 1
          maximum: 20
          description: Hard braking thresold in miles per hour per second
        harshAccelerationThreshold:
          type: number
          format: float
          x-system-default: 4.5
          minimum: 1
          maximum: 20
          description: Harsh acceleration threshold in miles per hour per second
        corneringThreshold:
          type: number
          format: float
          x-system-default: 4.5
          minimum: 1
          maximum: 20
          description: Cornering acceleration threshold in miles per hour per second
        forwardCollisionWarningTTCThreshold:
          type: number
          format: float
          x-system-default: 1
          minimum: 0.25
          maximum: 3
          description: Forward collision warning Time-To-Collision threshold in miles per second
        tailgatingTTCThreshold:
          type: number
          format: float
          x-system-default: 1
          minimum: 0.25
          maximum: 3
          description: Tailgating TTC threshold in miles per hour per second
        tailgatingTimeThreshold:
          type: number
          format: float
          x-system-default: 15
          minimum: 10
          maximum: 30
          description: Tailgating TTC threshold in miles per hour per second
        potentialCrashThreshold:
          type: number
          minimum: 5
          maximum: 200
          description: >
            Threshold value in m/sec<sup>2</sup>, if the Accelerometer value exceeds this limit then this event is triggered.
            This doesn't imply that the Crash has happened, but due to such a high <strong>G-sensor event</strong>, there is a possibility of this being a Crash.
        potentialCrashSpeedThreshold:
          type: number
          minimum: -10
          maximum: 100
          x-system-default: -10
          description: >
            Speed threshold in miles/hour, only beyond which the potential-crash events are triggered.
        speedingAllowance:
          type: number
          format: float
          x-system-default: 5
          minimum: 0
          maximum: 40
          description: >-
            Speeding allowance in miles per hour. Speeding events will be
            recorded if the vehicle's speed is more than speed-limit +<br> speeding
            allowance.
        speedUpperLimit:
          type: number
          format: float
          x-system-default: 75
          minimum: 0
          maximum: 150
          description: >
            Maximum speed allowed in miles per hour. Events will be triggered if
            the vehicle travels faster than this value<br> These events are
            independent from speeding events
        tailgatingSensitivity:
          type: number
          format: float
          x-system-default: 1
          minimum: 1
          maximum: 5
          deprecated: true
          description: >-
            Tailgating sensitivity, 0 being the most liberal and 5 being the
            strictest
        stopSignMaximumSpeed:
          type: number
          format: float
          x-system-default: 5
          minimum: 0.5
          maximum: 20
          description: Maximum speed allowed at a stop-sign in miles per hour
        laneDriftSensitivity:
          type: number
          format: float
          x-system-default: 10
          minimum: 0
          maximum: 10
          deprecated: true
          nullable: true
          description: >
            Lane-drift event sensitivity, 0 being the most liberal and 10 being
            the strictest<br> <em>Deprecation warning: This setting is not used
            by SDK versions 2.0.9 and above</em>
        laneDepartureThreshold:
          type: number
          format: float
          x-system-default: 5
          minimum: 0
          maximum: 10
          deprecated: true
          nullable: true
          description: >
            Lane-departure event threshold, 0 being the strictest and 10 being
            the most liberal<br> <em>Deprecation warning: This setting is not
            used by SDK versions 2.0.9 and above</em>
        anomalyThreshold:
          type: number
          format: float
          x-system-default: 4.5
          minimum: 0
          maximum: 20
          deprecated: true
          nullable: true
          description: >
            Anomaly event threshold, 0 being the strictest and 20 being the most
            liberal<br> <em>Deprecation warning: This setting is not used by SDK
            versions 2.0.9 and above</em>
        minimumPostedSpeedEnforced:
          type: integer
          x-system-default: 0
          minimum: 0
          maximum: 50
          description: >-
            Speed signs with posted limit less than or equal to this value will not be considered for violations
        ignoreSchoolZoneSpeedingViolations:
          type: boolean
          description: 'If set to true, school zone speeding violations will be ignored'
        preEventVideoDurationSpeeding:
          type: integer
          minimum: 9
          maximum: 9
          deprecated: true
          nullable: true
          description: >
            Number of seconds of pre-event footage to be added to speeding event
            videos<br> <em>Deprecation warning: This setting is not used by SDK
            versions 2.0.9 and above</em>
        preEventVideoDurationStopSign:
          type: integer
          minimum: 9
          maximum: 9
          deprecated: true
          nullable: true
          description: >
            Number of seconds of pre-event footage to be added to stop sign
            violation videos<br> <em>Deprecation warning: This setting is not
            used by SDK versions 2.0.9 and above</em>
        preEventVideoDurationHardBraking:
          type: integer
[...]
